<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div th:replace="~{navi.html::postmember}"></div>

<div th:each="ID : ${data}">
<a>번호:</a>
<a th:text="${ID.id}"></a>
<p></p>
    <a>제목:</a>
    <a th:text="${ID.title}"></a>
    <p></p>
    <a>내용:</a>
    <a th:text="${ID.content}"></a>
    <p></p>
    <form th:action="@{'/post/delete/' + ${ID.id} }" method="post">
        <button type="submit">삭제하기</button>
    </form>
</div>


</body>
</html>