<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JSON 방식 예제</title>
</head>
<body>
<h4>아이디</h4>
<input id="username" type="text" placeholder="아이디를 입력하세요">

<h4>비밀번호</h4>
<input id="password" type="password" placeholder="비밀번호를 입력하세요">

<h4>이메일</h4>
<input id="email" type="email" placeholder="이메일을 입력하세요">

<button onclick="sendData()">가입</button>

<script>
    function sendData() {
        const data = {
            username: document.getElementById('username').value,
            password: document.getElementById('password').value,
            email: document.getElementById('email').value
        };

        fetch('/user/register', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => {
            console.log('Success:', data);
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }
</script>
</body>
</html>